*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #818181;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;
}


body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  
}

#hero {
    position: relative;
    color: #fff;
    background-color: #000;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("./img/pexels-aleksandar-pasaric-3122779.jpg");
    background-attachment: fixed;
}


a {
    text-decoration: none;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 1rem;
    color: #fff;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    padding-top: 40px;

}
 
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-weight: 700;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    text-align: center;
    column-gap: 5rem;
    row-gap: 3rem;
   
}

.box-1 {
    width: 100%;
    max-width: 800px;
}

.box-2 {
    width: 100%;
    max-width: 500px;

}

.v-line1{
    border-left: 3px solid #ffffff;
    
    padding-left: 2rem;
   
   }


.v-line{
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    height:50%;
    padding-left: 1rem;
    width: 322px;
   
   }

.box-1 hr {
    height: 2px;
    background-color: #fff;
    width: 500px;
    margin: 0;
}

.box-2 hr {
    width: 200px;
    height: 3px;
    margin: 0.5rem 1.1rem 0.5rem 1.1rem;
    background-color: #fff;
}

.center  h2{
    font-size: 6rem;
    margin: 0;
    text-align: justify;
    font-weight: 200;
}

.center p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 0.5rem;
}

.center h1 {
    font-size:  3rem ;
    text-align: justify;
    margin: 1rem;
    font-weight: 200;
}

.center ul li {
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.section-02 {
    background-color: #fff;
    color: #000;
    font-weight: 500;
  
    
}

 .section-02 h3 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}

.section-02 p {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.proyects {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    gap: 2rem;
}

.proyect-img {
    width: 350px;
    height: 250px;
}

.section-03 {
    background-color: #f5f5f5;
    padding-bottom: 3rem;
}

.section-03 h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts img {
    width: 40px;
    height: 40px;
}

.contacts a, span{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin: 0;
}

form {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem 4rem;
    flex-wrap: wrap;
}

.gap {
margin-bottom: 1.2rem;
    margin-top: 1.5rem;
    column-gap: 3rem;
    row-gap: 1.2rem;
    flex-wrap: nowrap;
}

.gap input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border: 4px solid #000;
    border-radius: 25px;
    display: block;
    resize: vertical;
  
}

textarea {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border: 4px solid #000;
    border-radius: 25px;
    display: block;
    resize: vertical;
    margin-bottom:2rem ;
}

input[type="submit"] {
    width: 100%;
    margin: 8px auto 0 auto;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    height: 100%;
    padding: 1.1rem;
    border-radius: 50px;
}

#footer {
    padding: 1.7rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 700;
    background-color: #1b1919;
}
